@import '../../../scss/mixins.scss';

.table-row {
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #cccccc; 

    @include respond-to('medium') {
        text-align: left;
    }
}