.ship-item {
    box-sizing: border-box;
    text-align: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    margin-bottom: 5px;
    text-decoration: none;
    width: 100%;
    position: relative;

    &__details {
        padding: 10px;
        color: #ffffff;
    }

    &__button-container {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0 28px;
        bottom: 0px;
    }
}