@import '../../../scss/_mixins.scss';

.starships-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 35px;
    list-style: none;
    padding: 0;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 96%;

        @include respond-to('medium') {
            flex-basis: 49%;
        }
        @include respond-to('large') {
            flex-basis: 30%;
            margin-bottom: 30px;
          }

    }
}