@import '../../scss/_mixins.scss';

.details-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 30px;

    @include respond-to('medium') {
        flex-basis: 48%;
        flex-direction: row;
    }

    &__cta {
        flex-grow: 2;
        text-align: center;
        
        

        @include respond-to('medium') {
            text-align: right;
            order: 2;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            align-items: flex-end;
        }
    }

    &__price {
        font-size: 36px;
        margin-bottom: 35px;
    }

    &__specs {
        @include respond-to('medium') {
            order: 1;
        }
    }
}