.Header {
    padding: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;

    &__logo {
        width: 200px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        > * {
            text-decoration: none;
        }

    }

    &__menu {
        width: 40px;
    }
}