@import '../../../scss/_mixins.scss';

.button {
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: bold;
    background: #333333;
    border: 1px solid #000000;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}