.HeroBanner {
    width: 100%;
    height: 400px;
    margin-bottom: 2px;
    background: aquamarine;

    &__inner {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }

    &__campaign {
        align-self: center;
    }


}