$breakpoints: (
        'small': 640px,
        'medium': 920px,
        'large': 1024px,
        'xlarge': 1600px
);

$max-layout-width: 1276px;
$width-phone-start: 320px;
$width-phablet-start: 640px;
$width-tablet-start: 920px;
$width-laptop-start: 1024px;
$width-desktop-start: 1600px;